# пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ
/target/
/out/
.metadata/
.recommenders/
RemoteSystemsTempFiles/
bin/
.idea
.ideaDataSources
dataSources
.settings/
.sass-cache/
/test-output/
/accesslog-analyzer/

# файлы
.forge_settings
.tern-project
.classpath
.project
my.properties
*~
#*#
*.bak
*.jasper
*.BASE
*.LOCAL
*.REMOTE
*.log
.#*
*.*~
*.jsfdia
*.orig
*.bak
*.ids
*.iml
*.ipr
*.iws

